@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    margin: 0px;
    color: white;
    background-image: url(pitch.jpg);
    background-size: cover;
}


header{
    padding: 5px;
    width: 960px;
    margin: auto
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    text-align: left;
    margin-bottom: -2px
}

h3{
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    text-align: right;
    font-size: 30px;
    font-weight: 400;
    margin: 10px;
}

p{
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: justify;
    margin-top: 0px;
}

main{
    color: white;
    padding: 10px;
    width: 960px;
    margin:auto
}

footer{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    width: 960px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 5px;
}

footer a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 500;
    
}

footer:hover{
    background-color: #234f1e;
}

footer a:hover{
    color: white;
}

@media screen and (max-width: 750px){ 
    header{
        width: 700px;
    }
    main{
        width: 700px;
        margin: 10px
    }
    p{
        width: 700px;
    }
    footer{
        width: 700px;
        margin: 10px
    }
}

@media screen and (max-width: 400px){ 
    header{
        width: 350px;
    }
    main{
        width: 350px;
        margin: 5px
    }
    p{
        width: 350px;
    }
    footer{
        width: 350px;
    }
    .graphs{
        display:none;
    }
    
}


