@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    margin: 0px
}

header{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 100vw;
    background-color: white;
}


.fa-bars{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 3px;
    width: 50%;
    padding: 10px
}

h1{
    justify-content: end;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 3px;
    margin-left: 700px;
    width: 50%
}

main{
    display: grid;
    grid-template-columns: auto 500px;
    grid-template-rows: auto auto 100px;
    grid-template-areas:
    "main tweet"
    "audio tweet"
    "footer footer";
}

#twitter{
    grid-area: tweet;
    margin-top: 10px;
}

.articles{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}

.card{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 350px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-size: cover;
    background-position-x: center;
}

.card a{
    font-size: 30px;
    font-weight: 700;
    padding: 40px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px black;
}

.card:hover{
    filter: brightness(50%);
}

.broadcasts{
    grid-area: audio;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px
}

audio{
    margin-left: 10px;
    width: 98%;
}

h3{
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase; 
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 30px
}

h4{
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-style: italic;
}

footer{
    grid-area: footer;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer a{
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    color: white;
    padding: 80px;
}

footer a:hover{
    font-weight: 700;
}

#sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    background-color: white;
    transition: 0.5s;
    padding-top: 10px
}

#sidebar a{
    padding: 10px;
    padding-left: 20px;
    font-family: 'Work Sans', 'Sans Serif';
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}

#sidebar .selected{
    font-weight: 700;
}

#sidebar a:hover{
    font-weight: 700;
}

.fa-times{
    padding-right: 20px;
    text-align: right;
    font-size: 2em;
}

@media screen and (max-width: 1200px){ 
    main{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto 100px;
        grid-template-areas:
        "main"
        "audio"
        "footer";
    }

    #twitter{
        display:none
    }

    .card{
        width: 45%;
    }

    h1{
        margin-left: 350px;
    }
}

@media screen and (max-width: 750px){ 
    .card{
        width: 750px;
        margin: 0px;
        border-radius: 0px;
        margin-bottom: 10px
    }

    h1{
        margin-left: 100px;
        font-size: 2em;
        letter-spacing: 2px;
    }

    footer a{
        padding: 50px;
    }

    audio{
        width: 95vw;
    }
}